
<div class="container m-5">
  <div class="row">
    <div class="card">
      <div class="card-body d-flex flex-md-column">
        <form [formGroup]="form" (ngSubmit)="shortenURL()">
          <h2 class="card-title">Enter the URL to be shortened:</h2>
          <input type="text" formControlName="url" [ngClass]="{ 'is-invalid': submitted && f['url'].errors }" class="form-control url-input" />
          <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
            <div *ngIf="f['url'].errors['required']">Please enter the URL</div>
            <div *ngIf="f['url'].errors['pattern']">Please enter a valid URL</div>
          </div>
          <button type="submit" class="btn btn-primary mt-4 text-align-center align-self-center">Shorten URL</button>

          <h4 class="p-2 text-center" style="width:auto;" ><a target="_blank" href="{{short_url}}">{{ short_url }}</a></h4>
        </form>
      </div>
    </div>
  </div>
</div>
